.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 1rem;
}

.header * {
    color: #007CC2;
    font-weight: 700;
    font-size: 1.5rem;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinnerSvg {
    animation: rotate 2s linear infinite;
    width: 50px;
    height: 50px;
}

.spinnerCircle {
    stroke: #007CC2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}